[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.poetry]
authors = ["Raphael Krupinski <rafalkrupinski@users.noreply.github.com>"]
description = "Python async OpenAPI client library generator"
license = "AGPL-3.0"
name = "lapidary-render"
version = "0.11.1"
packages = [{ include = "lapidary", from = "src" }]
readme = 'Readme.md'
repository = 'https://github.com/python-lapidary/lapidary'
include = [{ path = 'src/lapidary/render/templates' }]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Code Generators",
    "Typing :: Typed",
]
keywords = [
    "OpenAPI",
    "OpenAPI3",
    "CodeGen",
    "Code Generation",
    "Code Generator",
    "OpenAPI Tools",
]
homepage = "https://lapidary.dev/"

[tool.poetry.dependencies]
python = "^3.12"
asyncclick = "^8.1.7.2"
httpx = "^0.27.0"
jsonpatch = "^1.32"
pybase62 = "^1.0.0"
pydantic = "^2.5.2"
python-mimeparse = "^1.6.0"
ruamel-yaml = "^0.18.6"
rybak = { version = "^0.4", extras = ['jinja'] }

[tool.poetry.scripts]
lapidary = "lapidary.render:app"

[tool.poetry.group.dev.dependencies]
pyjwt = "^2.8.0"
pytest = "^8.2.0"
pytest-asyncio = "^0.23.7"
pytest-httpx = "^0.30.0"

[tool.ruff]
target-version = "py312"
extend-exclude = [
    "src/lapidary/render/templates/",
    "tests/e2e",
]
line-length = 120
namespace-packages = ["lapidary/render"]
src = ["src"]

[tool.ruff.lint]
extend-select = ['I', 'UP']
extend-ignore = [
    'F401', 'F403', 'F405',
    'UP040', 'UP008',
]

[tool.ruff.format]
quote-style = "single"

[tool.mypy]
mypy_path = "src"
namespace_packages = true
ignore_missing_imports = true
python_version = "3.12"
packages = ['lapidary.render']
exclude = [
    "src/lapidary/render/templates/",
    "tests/e2e",
]

[tool.refurb]
python_version = "3.12"
ignore = ["115", "126"]

[tool.pytest.ini_options]
norecursedirs = ['tests/e2e']
