def {{ auth.type }}_{{ auth.python_name }}(
    scope: Union[Iterable[Literal{{ auth.scopes.keys() | list }}], None] = None,
    **kwargs,
) -> NamedAuth:
    if scope is not None:
        kwargs['scope'] = ' '.join(scope)

    return '{{ auth.name }}', httpx_auth.OAuth2Implicit(
        authorization_url='{{ auth.authorization_url }}',
        **kwargs,
    )
