{%- set scopes_type = auth_name + "Scopes" -%}
{{ scopes_type }}: TypeAlias = Literal{{ auth.scopes.keys() | list }}


def {{ auth_name }}(
    scope: Union[{{ scopes_type }}, Iterable[{{ scopes_type }}, None]] = None,
    **kwargs,
) -> NamedAuth:
    return '{{ auth_name }}', httpx_auth.OAuth2Implicit(
        authorization_url='{{ auth.authorization_url }}',
        scope=scope if isinstance(scope, str) else ' '.join(scope),
        **kwargs,
    )
