[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.3.2"]

[tool.poetry]
name = "{{ package }}"
description = "Client library for {{ document.title }}"
version = "0.1.0"
authors = []
license = ""
packages = [
    { include = '{{ package }}', from = "gen" },
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = { extras = ["email"], version = "^{{ get_version('pydantic') }}" }
lapidary = "{{ get_version('lapidary') }}"

[tool.poetry.group.dev.dependencies]
mypy = "0.990"
lapidary-render = "{{ get_version('lapidary_render') }}"
taskipy = "^1.10.3"

[tool.taskipy.tasks]
update = 'lapidary update'
mypy = 'mypy'
check = 'task mypy'

[tool.lapidary]
package = '{{ package }}'

[tool.mypy]
mypy_path = ['gen']
packages = ['{{ package }}']
