{%- import 'includes/type_hint.py.jinja' as th -%}
from __future__ import annotations

from lapidary.runtime import *
import pydantic
import typing_extensions as typing

{%- for imp in item.imports %}
import {{ imp }}
{%- endfor %}
{% set path = item.path %}
{%- for model in item.body %}

class {{ model.name }}(pydantic.BaseModel):
    {% for field in model.fields -%}
    {{ field.name }}: typing.Annotated[{{ th.type_hint(field.type) }}, {{field.annotation}}('{{field.alias}}')]
    {% endfor %}
{%- endfor -%}
