{%- import 'includes/type_hint.py.jinja' as th -%}
{%- from 'includes/field.py.jinja' import render_field -%}
from __future__ import annotations

from lapidary.runtime import *
import pydantic
import typing_extensions as typing

{%- for imp in item.imports %}
import {{ imp }}
{%- endfor %}
{% set path = item.path %}
{%- for model in item.body %}

class {{ model.name }}(pydantic.BaseModel):
    {%- for field in model.fields %}
    {{- render_field(field) }}
    {%- endfor %}
{%- endfor %}
