copyright: Copyright &copy; 2022-2025 Rafał Krupiński
docs_dir: ../docs
repo_name: python-lapidary/lapidary-render
repo_url: https://github.com/python-lapidary/lapidary-render
site_description: "Declarative Web API client generator for python"
site_dir: "../site"
site_name: Lapidary Render
site_url: https://lapidary.github.io/lapidary-render


nav:
- index.md
- Conversion:
  - OpenAPI: openapi.md
  - JSONSchema: json-schema.md

watch:
- mkdocs.yaml
- ../src
- ../Readme.md


validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn


theme:
  logo: assets/logo.svg
  icon:
    logo: assets/logo.svg
  favicon: assets/logo.svg
  name: material
  features:
  - announce.dismiss
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tooltips
  - navigation.footer
  - navigation.instant.preview
  - navigation.path
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - search.highlight
  - search.suggest
  - toc.follow
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: teal
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to system preference


markdown_extensions:
- attr_list
- admonition
- callouts
- footnotes
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
- pymdownx.magiclink
- pymdownx.snippets:
    base_path: [!relative $config_dir]
    check_paths: true
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
    slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
- pymdownx.tasklist:
    custom_checkbox: true
- toc:
    permalink: "¤"

plugins:
- search
- autorefs
- markdown-exec
- section-index
#- coverage
- mkdocstrings:
    handlers:
      python:
        inventories:
        - https://docs.python.org/3/objects.inv
        paths: [src]
        options:
          backlinks: tree
          docstring_section_style: spacy
          docstring_style: sphinx
          filters: ["!^_"]
          heading_level: 1
          members_order: source
          merge_init_into_class: true
          preload_modules:
          - httpx
          - pydantic
          - typing_extensions
          separate_signature: true
          show_root_full_path: false
          show_root_heading: true
          show_signature_annotations: true
          show_source: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          signature_crossrefs: true
          summary: true
- minify:
    minify_html: !ENV [DEPLOY, false]

extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/rafalkrupinski
  - icon: fontawesome/brands/mastodon
    link: https://101010.pl/@mattesilver
  - icon: fontawesome/brands/python
    link: https://pypi.org/project/lapidary-render/
