# {% include 'includes/generated.txt' %}

__all__ = [
    'ApiClient',
]

import typing_extensions as typing
from lapidary.runtime import *

{% for imp in model.client.imports -%}
import {{ imp }}
{% endfor %}

class ApiClient(ClientBase):
    def __init__(
        self,
        *,
        base_url: str{% if model.client.body.init_method.base_url %} = '{{ model.client.body.init_method.base_url }}'{% endif %},
        **kwargs,
    ) -> None:
        super().__init__(
            base_url=base_url,
            {% if model.client.body.init_method.security is not none %}security={{ model.client.body.init_method.security }},
            {% endif -%}
            **kwargs,
        )
{% for func in model.client.body.methods %}
{%- include 'includes/client/method_operation.py.jinja' %}
{%- else %}
    pass
{% endfor -%}
