name: Test

on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install Poetry
      uses: packetcoders/action-setup-cache-python-poetry@main
      with:
        python-version: 3.13
        poetry-version: 2.1.1
    - name: Install project
      run: poetry install
    - name: Run pytest
      run: poetry run pytest
